body {
    background-color: #323031;
    color: #C1BDB3;
    font-family: 'Times New Roman', Times, serif;
}

footer {
    background-color: #3D3B3C;
}

header {
    font-family: "Poetsen One";
    margin: 20px 0px 20px 0px;
}

h3 {
    color: #7F7979;
    font-family: "Poetsen One";
}

.icons {
    color: #5F5B6B;
}

section {
    background-color: #3D3B3C;
    margin: 20px 0px 20px 0px;
    padding: 20px;
}

#sidebar {
    background-color: #3D3B3C;
}

#title {
    font-size: 48px;
}